<!--
  title: about.component.html
  author: Cody Skelton
  date created: 05.15.2024
  Code sourced from WEB 425 capstone assignment requirements and previous assignments
-->

<h1 class="align-center page-title">About Us</h1>

<div fxLayout="row wrap">
  <div fxFlex="65">
    <div>
      <p>As Elizabethtown expanded, there was an obvious need for community banks that were more relatable to the common consumer. In the early 2000's, we saw a rise in the trend of online banking, and decided to take our shot at it. We were a success, bringing accessible banking to tens of thousands of customers. And we decided to be more directly involved with the community. Now, we have several physical branches located all over Elizabethtown.</p>

      <p>Our specialized Loan App digital team was created in order to bring new, quality features to our customers at a competitive pace. We're constantly analyzing the market and getting customer's feedback on what interests them the most, and bringing that to our digital team to develop. Some of our Loan App's recent features have been our Loan Calculator, which you can find on our Home page.</p>
    </div>
  </div>

  <div fxFlex="20">
    <div fxLayout="column">
      <div>
        <img src="../../assets/businessman.jpg"/>
      </div>
      <div>
        <em>
          Photo by <a href="https://www.pexels.com/photo/cheerful-senior-businessman-shaking-hands-with-partner-on-street-3783577/">Andrea Piacquadio</a>
        </em>
      </div>
    </div>
  </div>
</div>

<br>

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/computer.jpg"/>
      </div>
      <div>
        <em>
          Photo by <a href="https://www.pexels.com/photo/shallow-focus-photography-of-macbook-792199/">Nao Triponez</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex="60">
    <div>
      <p>Overall, we're very happy to help our community. We often host community events, including disc golf tournaments at Freeman Lake or our frequent bake sales, where the proceeds go to our local Girl Scout troupe. We often help community groups obtain loans in order to chase larger endeavors. Last year we helped our local search and rescue team procure a new antennae for their radio system, and donated quite a bit to Baptist Health in order to fund their ongoing research. Some of our upcoming projects include funding for a new recreational center near our main branch and a food pantry to be set up within it that will be fully staffed by volunteers.</p>
    </div>
  </div>
</div>
