<!--
  title: contact.component.html
  author: Cody Skelton
  date created: 05.15.2024
  Code sourced from WEB 425 capstone assignment requirements and previous assignments
-->

<h1 class="align-center page-title">Contact Us</h1>

<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br><br>

      <mat-card-content class="align-center">
        <p>
          505 N. Dixie Hwy
        </p>
        <p>
          Elizabethtown, Kentucky
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br><br>

      <mat-card-content class="align-center">
        <p>
          Direct: 555-555-5555
        </p>
        <p>
          Toll-free: 1-888-555-5555
        </p>
        <p>
          Fax: 555-555-5555
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<br><br><br><br><br>

<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at any one of your many great locations throughout the Omaha metro area.
  </p>
</div>
