/**
 * title: app.component.scss
 * author: Cody Skelton
 * date created: 05.12.2024
 * Code sourced from WEB 425 capstone assignment requirements
*/

.main-container {
  padding-top: 25;
  width: 80%;
  margin: 0 auto;
}

.logo {
  margin-top: 5px;
}
